<header class="flex flex-col min-h-[50vh] bg-gradient-to-b from-gray-900 to-gray-800 text-white px-4 sm:px-6 py-6">

  <!-- Name Section -->
  <div class="flex flex-col items-center sm:items-start mb-4">
    <h1 class="text-2xl sm:text-4xl font-bold drop-shadow-md mb-3 text-center sm:text-left">
      Abdalrahman Bashir
    </h1>
    <img src="/profile.jpg" alt="Profile" 
         class="w-28 h-28 sm:w-36 sm:h-36 rounded-full shadow-2xl border-4 border-white">
  </div>

  <!-- Description Section -->
  <div class="flex flex-col justify-center w-full mb-6">
    <p class="text-sm sm:text-lg text-gray-300 drop-shadow-md text-center sm:text-left">
      A software engineer with a Bachelor of Science in Computer Science from the University of Missouri-Kansas City. 
      I have a strong interest in backend development and distributed systems. 
      My primary focus is on developing cloud-native, production-ready microservices, scalable APIs, and real-time data processing pipelines. 
      I advocate open-source technologies, prioritizing clean code and long-term maintainability over the choice of specific technologies.
    </p>
  </div>

  <!-- Contact & Social Icons Section -->
<div class="flex flex-col sm:flex-row justify-center items-center mt-auto space-y-2 sm:space-y-0 sm:space-x-6">
  <!-- GitHub -->
  <a href="https://github.com/abdalrahmanbashir" target="_blank" 
     class="transform hover:scale-110 transition-transform duration-300">
    <i class="fab fa-github text-2xl sm:text-3xl hover:text-blue-400"></i>
  </a>

  <!-- LinkedIn -->
  <a href="https://www.linkedin.com/in/abdalrahman-bashir/" target="_blank" 
     class="transform hover:scale-110 transition-transform duration-300">
    <i class="fab fa-linkedin text-2xl sm:text-3xl hover:text-blue-400"></i>
  </a>

   <!-- Phone -->
  <div class="flex items-center text-gray-300 text-sm sm:text-base space-x-2">
    <i class="fas fa-phone text-green-400"></i>
    <span>+1 (913) 263-0796</span>
  </div>

  <!-- Email -->
  <div class="flex items-center text-gray-300 text-sm sm:text-base space-x-2">
    <i class="fas fa-envelope text-yellow-400"></i>
    <span>abdalr.bashir@gmail.com</span>
  </div>

</div>


</header>
